.app {
  display: flex;
}

aside.primary-aside {
  width: 200px;
}

aside.primary-aside a.active {
    font-weight: bold;
}

main {
  flex: 1;
}

.project-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.project-list li {
  list-style: none;
  width: 70vw;
  height: 600px;
  background: grey;
  margin-bottom: 80px;
  transition: all 300ms ease;
}

.project-list li.active {
  width: 100vw;
  height: 100vh; 
}
